# docker-compose.yml
services:
  db:
    image: mysql:8.0
    container_name: spendtrackr-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7
    container_name: spendtrackr-redis
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  mysql_data:
